@import '../../colors.scss';

.cardWrap {
  background-color: $white;
  border-radius: 24px;
  height: 420px;
  .removeBtn {
    display: flex;
    margin-left: 660px;
    margin-top: 20px;
  }

  .cardOpen {
    display: flex;
    justify-content: space-between;
    width: 720px;
    height: 420px;

    .left {
      margin-left: 24px;
      width: 320px;
      .imgLeft {
        height: 320px;
        position: relative;
        border-radius: 16px;
        z-index: 1;
      }
      .topImg {
        z-index: 2;
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 320px;
        margin-top: 6px;
      }
      .rating {
        display: flex;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 8px;
        margin-right: 40px;
        margin-left: 8px;
        padding: 4px;

        img {
          height: 24px;
        }
        p {
          font-size: 16px;
          margin: auto 0;
          margin-left: 8px;
        }
      }
      .tags {
        display: flex;
        margin: auto 0;
        margin-right: 8px;
        .tag {
          color: $white;
          background-color: $red;
          border-radius: 4px;
          padding: 2px 8px;
          margin: 4px;
        }
      }
    }
    .right {
      margin-right: 80px;
      width: 270px;
      .title {
        color: $footer;
        font-weight: 600;
      }
      .company {
        font-size: 16px;
        padding: 0;
        margin: 0;
        color: $darkGreen;
      }
      .description {
        height: 75px;
      }
      .price {
        display: flex;
        margin-bottom: 8px;
        color: $mainOrange;
        p {
          margin-right: 8px;
          margin-bottom: 0;
          font-size: 36px;
          font-weight: 700;
        }
      }
      .total {
        display: flex;
        margin-bottom: 16px;
        .favorites {
          margin-left: 16px;
          img {
            height: 40px;
          }
        }
        .count {
          width: 60px;
          height: 40px;
          border: 1px solid $lightOrange;
          margin: 0px 4px;
          border-radius: 8px;
          p {
            font-size: 24px;
            margin-top: 2px;
            margin-bottom: 0px;
          }
        }

        .counter {
          display: flex;
          p {
            text-align: center;
          }
          button {
            background-color: $mainOrange;
            width: 40px;
            height: 40px;
            border-radius: 8px;
          }
        }
      }
      .add {
        margin-bottom: 24px;
        width: 270px;
        div {
          width: 100%;
          font-size: 24px;
        }
      }
    }
  }
}
