@import '../../colors.scss';

.overlay {
  z-index: 1;
}
.wrapper {
  width: 300px;
  height: 450px;
  margin: 4px;
  border-radius: 24px;
  background-color: #fff1e5;
  z-index: 2;
  &:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .photo {
    position: relative;

    .photoTop {
      display: flex;
      justify-content: space-between;
      position: absolute;
      margin: 30px 30px 0px 40px;

      .favorites {
        width: 32px;
        z-index: 3;
      }
      .rating {
        display: flex;

        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 8px;
        padding: 4px;
        margin: auto 0;
        margin-right: 140px;

        img {
          width: 13px;
          height: 21px;
          margin: auto 0;
        }
        p {
          font-size: 16px;
          padding: 0;
          margin: 0;
          padding-left: 4px;
          height: 21px;
          margin: auto 0;
        }
      }
    }
    .mainPhoto {
      margin: 20px 30px 0px 30px;
      width: 240px;
      border-radius: 12px;
    }
  }
  .name {
    margin-left: 30px;
    margin-top: 8px;
    p {
      font-size: 14px;
      color: $darkGreen;
      margin: 0;
    }
    h3 {
      font-size: 20px;
      text-align: left;
      width: 250px;
    }
  }
  .total {
    display: flex;
    margin: 16px 30px 0px 30px;
    justify-content: space-between;

    .count {
      width: 48px;
      height: 32px;
      border: 1px solid $lightOrange;
      margin: 0px 2px;
      border-radius: 4px;
      p {
        font-size: 20px;
      }
    }
    .price {
      display: flex;

      font-weight: 700;
      color: $mainOrange;
      p {
        margin-right: 8px;
        font-size: 22px;
      }
    }
    .counter {
      display: flex;
      z-index: 3;
      p {
        text-align: center;
      }
      button {
        background-color: $mainOrange;
        width: 32px;
        height: 32px;
        border-radius: 4px;
      }
    }
  }
  .add {
    margin-bottom: 24px;
    width: 280px;
    z-index: 3;
    div {
      font-size: 18px;
      width: 100%;
    }
  }
}
