$mainOrange: #ff8126;
$lightOrange: #ff9431;
$lightGreen: #86e36f;
$darkGreen: #9c9c42;
$pinkText: #f89f9f;
$pinkClick: #d78080;
$border: #d9d9d9;
$footer: #010f07;
$lightGrayText: #6a6a6a;
$darkGrayText: #010f07;
$red: #f44336;
$black: #000;

$white: #ffffff;
