@import url('fonts/gilroy/stylesheet.css');

@import 'colors.scss';
$sizes: (
  'xs': 320px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy';
  background-color: $white;
  margin: auto;
  max-width: 1920px;
  justify-content: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  color: $mainOrange;
  font-size: 72px;
  font-weight: 500;
  text-align: left;
}
