@import '../../colors.scss';
.wrapper {
  max-width: 1680px;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
}
h1 {
  padding-bottom: 48px;
}
h2 {
  color: $darkGreen;
  text-align: left;
  font-size: 32px;
}
p {
  text-align: left;
  max-width: 968px;
  font-size: 24px;
}
